# This is a yaml format file https://en.wikipedia.org/wiki/YAML
# you should copy it to 'config.yaml', in the same directory as 'checkstars.py', and customize
# it with the url of the webservice running checkstars.py

scanservice_url: http://mywebbox/cgi-bin/scangitstars.py

