# This is a yaml format file https://en.wikipedia.org/wiki/YAML
# you should copy it to 'config.yaml', in the same directory as 'scangitstars.py', and customize
# it with your own github_username

github_username: youruseridhere

